extends layout

block content

  main
    h2 Chi siamo?
    
    p(style='white-space:pre;')
      |La Aut. Rotari Srl è tra i protagonisti nazionali nei trasporti industriali
      |con  bilici cassonati e telonati con piantane e buche per coils.
      |Negli ultimi anni la Aut. Rotari Srl ha inoltre effettuato ingenti 
      |investimenti per il controllo satellitare degli automezzi, al fine di 
      |garantire la massima sicurezza nei confronti dei clienti che dispongono di 
      |merce di valore.
      
    div(id="about_images")
    
    h2 Visione
    
    
