extends layout

block content

  main
    h2 Contatti
    
    form(action="/send_mail" method="post")
      label(id="nome") Il tuo nome
      input(id="name_contatti" type="text" name="nome" size="30" placeholder="Il tuo nome")
      label La tua email
      input(id="email_contatti" type="text" name="email" placeholder="La tua email" size="30")
      label Il tuo messaggio
      textarea(id="testo" type="text" placeholder="Testo" name="testo" rows="7" cols="30")
      input(id="button_submit" type="submit" value="Manda Email")
      
    if(typeof msg !== 'undefined')
      if(!!err)
        div(id="msgbox err")
        p c'e stato un problema nell'inviare l'email
      else
        div(id="success")
        p la tua email e stata inviata
