extends layout

block content
  main(id="flotta_main")
    h2 Flotta
      div(id="slider")
        ul(class="slides")
          li(class="slide")
            img(src="/images/zimbet2-2.jpg")
          li(class="slide")
            img(src="/images/zimbet2-1.jpg")
          li(class="slide")
            img(src="/images/zimbet2-3.jpg")
          li(class="slide")
            img(src="/images/zimbet2-5.jpg")
          li(class="slide")
            img(src="/images/zimbet2-6.jpg")
          li(class="slide")
            img(src="/images/zimbet2-2.jpg")
