extends layout

block content
  main
    h2 Nascita e sviluppo
    p.
      L’azienda inizia ad operare nel settore dei trasporti nel 2011. Grazie
      all’impegno e serietà del suo fondatore Rotari Dorino, autotrasportatore
      già dai 18 anni lavorava per conto proprio nei paesi dell'est piu
      precisamente in Moldavia trasportanto merci sul territorio nazionale ma
      anche con i paesi adiacenti.
      <br> 
      <br>Col desiderio sempre crescente di aumentare
      le proprie abilita ma anche le proprie prospettive si trasferi in Italia,
      paese che lo accolse a braccia aperte dandogli maggiore opportunità di
      crescita. Dopo anni di lavoro come dipendente decise di mettersi in
      proprio collaborando con la piu grande impresa metalurgica Marcegaglia.
      <br>
      <br>L'azienda e nata a Gazoldo degli Ippoliti (MN) per poi in seguito
      trasferirsi a Ravenna a causa della presenza del porto e del maggiore
      afflusso di lavoro.
      <br>
      <br>Nel 2014 l'azienda Aut. Rotari cominciò un'altra importante collabolazione
      con la CTX Containex (lo specialista dei container e dell´edilizia prefabbricata).
      Aut. Rotari è un'azinda fondata su solide basi di determinazione e rispetto
      ed e pronta per iniziare nuove fruttuose collaborazioni sia per l'azienda
      stessa ma sopratutto per il cliente.
  footer
    div(id="footer")
      h3(style='white-space:pre;'). 
        Indirizzo: via dell'abbondanza Piangipane (RA)
        Numero: +39 347 735 3264
        Email: dorinrotari@gmail.com 
