doctype html
html
  head
    title Autotrasporti Rotari
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
  body
  div(id="header")
    div(id="title_buttons")
      div(id="title")
        h1 Autotrasporti Rotari
        p Muoviamo i vostri progetti
    div(id="buttons")
      form(action="")
        input(type="button" value="Home" id="home")
      form(action="")
        input(type="button" value="Flotta" id="flotta")
      form(action="")
        input(type="button" value="About" id="about")
      form(action="")
        input(type="button" value="Contatti" id="contatti")

    block content
